@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
}

#container{
	background-color: #fff;
	width: 100vw;
	height: 100vh;
	margin-top: 80px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}

header{
	width: 100vw;
	height: 70px;
	background-color: #1A2440;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

header > img{
	height: 60px;
	margin-right: 15px;
	margin-left: 5px 
}

header > nav > h1{
	color: #fff;
}

.tablero{
	width: 90%;
	max-width: 550px;
	border-radius: 20px;
	background-color: #F2F2F2;
	padding: 40px;
}

.tablero > div{
	margin-top: 15px;
}

.titulo{
	font-weight: 900;
	text-align: center;
	display: block;
	font-size: 20px;
}

.fila_tablero{
	width: 100%;
	height: 60px;
	background-color: #C7C7C7;
	display: flex;
	border-radius: 5px;
}

.fila_m_tablero{
	display: flex;
	column-gap: 20px;
}

.fila_media_tablero{
	flex: 1;
	background-color: #C7C7C5;
	text-align: center;
	padding: 5px;
}

#filtros_constantes{
	display: block;
	text-align: center;
	margin-top: 10px;
}

#estado-precios{
	margin: auto;
}

#estado-precios > label{
	margin: 0 20px;
	font-weight: 900;
}

.envoltura{
	display: flex;
	align-items: center;
	column-gap: 10px;
	margin-left: 15px;
}

.descripcion{
	font-weight: 900;
}

.dash-dropdown{
	width: 100px;
}

#submit-val{
	width: 90px;
	height: 30px;
	background-color: #1A2440;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	margin: 0 calc(50% - 45px);
	margin-top: 15px;
}

#submit-val:hover{
	background-color: #384D8A;
}